doctype html
html(lang="en")
  head
    title Mi pagina con PUG
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?famzily=Lato" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    link(rel="stylesheet" type="text/css" href="/css/animate.css")
  body
    div(class="col-md-3 center-block quitar-float text-center espacio-arriba")
      img(src="images/taco.png" alt="Camarón" id="imagen" class="animated shake")
      h1(class="titulo animated swing retraso-1") Fonda Nashely
      div(class="animated fadeInDown retraso-2")
          h2 Disfruta de la mejor comida.
            nav 
              a(href="menu.html") Menú
              a(href="contacto.html") Contacto
              a(href="acercade.html") Acerca de