doctype html
html(lang="en")
	head
		title ¡El mejor lugar del mundo!
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?famzily=Lato" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="/css/main-tutorial.css")
		link(rel="stylesheet" type="text/css" href="/css/animate.css")
	body
		nav(class="large-padding fondo-gris")
			ul(class="no-list mediano")
				li(class="pacifico col-md-3 inline-block")
						a(href="index.html" class="green") Fonda Nashely #[small(class="lato small") Sabor de Casa]
				li(class="col-md-3 inline-block")
					a(href="menu.html") Menú

				li(class="col-md-3 inline-block")
					a(href="contacto.html") Contacto
		block contenido
